/* body */
body {
    --color-main: #0d6efd;
    --color-box-circle: rgb(241, 241, 241);
    --color-box-background: white;
    --color-shadow-black: rgba(0, 0, 0, 0.1);
    --color-shadow-blue: rgba(0, 111, 255, 0.3);
    --color-background-page: whitesmoke;
    --color-text-description: gray;
    --animation-horizantal-line: cubic-bezier(0.175, 0.685, 0.32, 1.275);
}

body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-background-page);


}

/* nav bar */
nav {
    box-shadow: 0 0 10px 1px var(--color-shadow-black);
    background-color: white;
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    padding: 0 10px;
    text-align: center;

}

nav img {
    margin: 0 50px;
}

nav li hr {

    position: relative;
    border-radius: 6px;
    width: 0;
    height: 2px;
    text-align: center;
    padding-top: 4px;
    margin: 2px 0;
    color: var(--color-main);
    z-index: 2;

}

nav li:hover a {
    color: var(--color-main);
}

nav li:hover hr {
    width: 100%;
    transition: var(--animation-horizantal-line) 0.6s;


}

:is(nav) a, a:hover {

    color: black;
    font-weight: 600;
}

/*  footer    */
footer {
    padding: 50px 50px;
}

footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px;
}

footer li {
    font-size: 14px;
    text-align: left;

}

/*  another elements    */
div strong {
    padding-bottom: 10px;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-align: center;
    text-decoration: none;
}

section {

    padding: 50px 0;
}

#section7 img {
    max-width: 250px;
}

/* text */

.primary-text {
    color: var(--color-main);
}

.bold-text {
    font-weight: 700;

}

/* buttons */
/* rectangle button */
.rectangle-button {
    border-radius: 5px;
    height: 42px;
    min-width: 140px;

    font-size: 12px;
    font-weight: 600;

    color: white;
    background-color: var(--color-main);
    outline: 2px var(--color-main) solid;

}

.rectangle-button:hover {

    color: var(--color-main);
    outline: var(--color-main) 2px solid;
    background-color: white;
    transition: 0.6s ease-out;
}

/* circle button */
.circle-button {
    height: 25px;
    width: 25px;

    border-radius: 30px;
    outline: 5px solid var(--color-shadow-black);
    color: white;
    background-color: var(--color-main);

}

.circle-button:hover {
    background-color: white;
    color: var(--color-main);
    border: 2px var(--color-main) solid;
    transition: 0.6s ease-out;

}

/* circle icon */
i.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-box-circle);
    border-radius: 70px;
    width: 65px;
    height: 65px;
    margin: 10px 0;

}

.fonction:hover i.circle-icon {
    color: var(--color-main);
    background-color: white;
    box-shadow: -5px 10px 20px 2px var(--color-shadow-blue);
    transition: 0.6s ease-out;

}

.fonction:hover .circle-icon-title{
    font-weight: 900;
    color: black;
}


/* orgnasing elements  */
.place-item-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.space-beetwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* description text */
.description {
    font-size: 13px;
    color: var(--color-text-description);
    /*text-align: center;*/
    padding-top: 5px;
}

a {
    color: gray;
    text-decoration: none;
}

/* box collector */
.box {
    padding: 40px 40px;
    position: relative;
    background-color: var(--color-box-background);
    box-shadow: 0 0 10px 2px var(--color-shadow-black);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box .border-right-slice {
    border-right: 2px solid gray;
    padding-right: 40px;
}

/* social media*/

.socialMedia i {
    padding: 10px;
    color: var(--color-text-description);
}

.socialMedia i:hover {
    color: var(--color-main);
}


/**************** phone prespective ****************/
@media screen and (max-width: 100px) {
    /* font sizes */
    * {
        font-size: 12px;
    }

    .description {
        font-size: 12px;
    }

    h6 {
        font-size: 12px;
    }

    h1 {
        font-size: 17px;
    }

    h3 {
        font-size: 15px;
    }

    strong {
        font-size: 14px;
    }

    /* section element */
    section img {

    }

    section {
        margin: 40px 0;
    }

    section img {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    #section7 .col {
        width: 70%;
    }

    /**/
    .contenu {
        flex-direction: column;
        border: 0;
    }

    .space-beetwen {
        flex-direction: column;
        align-items: center;
    }

    .box#box1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .box#box2 {
        flex-direction: column;
    }

    .box#box3 * {
        flex-direction: column;
    }


    .row {
        width: auto;
    }

    .rectangle-button {
        margin: 10px 0;
    }

    .button a {


        margin: 10px 0;
        max-width: 200px;
        padding: 0;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;


    }

    /* footer  element*/
    footer {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    :is(footer) li, a {
        font-size: 13px;
        color: gray;
        text-align: center;
    }

    /* nav bar  element */
    nav img > a, nav img {
        margin: 0;
        width: 150px;
    }

    nav li {
        border-radius: 5px;
        padding: 20px 0;
    }

    nav li:hover hr {
        width: 0;
        display: none;
    }

    nav li:hover {
        background-color: var(--color-main);
        transition: 0.6s ease-in-out;

    }

    nav li:hover a {
        color: white;
    }

    nav a {
        font-size: 20px;
    }

    nav li {
        width: 100%;
    }
}

