/* Variables */
body {
    --color-main-bluish: #0d6efd;
    --color-box-circle: rgb(229, 229, 229);
    --color-shadow-black: rgba(0, 0, 0, 0.15);
    --color-shadow-blue: rgba(0, 0, 255, 0.2);
    --color-background-page: whitesmoke;
    --color-text-description: gray;
    --animation-horizantal-line: cubic-bezier(0.175, 0.685, 0.32, 1.275);

}

/* HTML elements*/
body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-background-page);


}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 0 10px 1px var(--color-shadow-black);
    background-color: white;

    position: fixed;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;

}


header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px 15px;

}

header li {
    padding: 10px 10px;
    line-height: 100%;
    text-align: center;
    justify-content: space-evenly;

}

header li hr {

    position: relative;
    border-radius: 6px;
    width: 0;
    height: 2px;
    text-align: center;
    margin: 2px 0;
    z-index: 3;

    color: var(--color-main-bluish);

}

a, a:hover {
    text-align: center;
    text-decoration: none;
    color: gray;
}

:is(header) a, a:hover {

    color: black;
    font-weight: 600;
}

footer {
    padding: 50px 50px;
}


footer > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px;
}

div strong {
    padding-bottom: 10px;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    font-size: 14px;
    text-align: left;

}


section {

    padding: 50px 0;
}


/* text */
.primary-text {
    color: var(--color-main-bluish);
}

.bold-text {
    font-weight: 700;

}


/* buttons */

.rectangle-button {
    border: rgba(0, 0, 0, 0) 2px solid;
    height: 42px;
    min-width: 140px;
    color: white;
    background-color: var(--color-main-bluish);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;

}

.circle-button {
    height: 25px;
    width: 25px;

    border-radius: 30px;
    outline: 5px solid var(--color-shadow-black);
    color: white;
    background-color: var(--color-main-bluish);

}


/* order the content*/

.colum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

:is(.colum) span, h6 {
    width: auto;
    padding: 5px 0;
    text-align: left;
    color: black;
}

.colum i {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-box-circle);
    border-radius: 70px;
    width: 65px;
    height: 65px;
    margin-bottom: 15px;

}

.colum div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

footer .colum {

    align-items: flex-start;
    text-align: left;
    padding-right: 40px;
}


.place-item-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.space-beetwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contenu .text {
    position: relative;
}

.contenu {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.description {
    font-size: 14px;
    color: var(--color-text-description);
    text-align: left;
    padding: 10px 0;

}
.box .border-right-slice{
    border-right: 2px solid gray;
    padding-right:40px ;
}
.box {
    padding: 40px 20px;
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px 2px var(--color-shadow-black);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.socialMedia i {
    padding: 10px;
    color: gray;
}

/** hovering   **/

.circle-button:hover {
    background-color: white;
    color: var(--color-main-bluish);
    border: 2px var(--color-main-bluish) solid;
    transition: 0.6s ease-out;

}

.rectangle-button:hover {


    border: var(--color-main-bluish) 2px solid;
    background-color: white;
    color: var(--color-main-bluish);
    transition: 0.6s ease-out;
}
/*
header li:hover a {
    color: var(--color-main-bluish);
}

header li:hover hr {
    width: 100%;
    transition: var(--animation-horizantal-line) 0.6s ;
    background-color: var(--color-main-bluish) ;
    height: 5px;

}
*/
.colum i:hover {
    color: var(--color-main-bluish);
    background-color: white;
    box-shadow: 0 10px 20px 1px var(--color-shadow-blue);
    transition: 0.6s ease-out;

}

.colum i:hover + h6 {
    font-weight: bolder;
}

.socialMedia i:hover {
    color: #0693e3;
}


        /**************** phone prespective ****************/
@media screen and (max-width:768px){
    body{

    }
    *{
        font-size: 12px;
    }
    header{
         position: relative;

     }
    header menu *{

    }
    header img{
        width: 100px;
    }


    .colum>.colum{
        padding: 20px 10px;
    }
    section{
        margin: 40px 0;
    }
    section img{
       width: 100%;
   }


    .description{
      font-size: 12px;
    }
    h6{
        font-size: 12px;
    }
    h1{
        font-size: 17px;
    }

    .contenu{
        flex-direction: column;
        border: 0;
    }
    footer .colum{
        justify-content: space-between;
        align-items: center;

        padding: 10px 0;
    }
    :is(footer) li,a{
        font-size: 13px;
        color: gray;
        text-align: center;
    }

    strong{
        font-size: 14px;
    }


    .space-beetwen{
        flex-direction: column;
        align-items: center;
    }
    .box {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
   .box img{
        width:80%
    }
    .box .contenu>.colum{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

    }
    .box .border-right-slice{
        border: 0;
        padding: 0;
    }


    .rectangle-button{
        width: auto;
        padding: 0;

    }
    footer{
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
